# Macintosh Specific Files
.DS_STORE

# All levels
BUILD/
build/

# Vim Swap Files
*~
*.swp

# JSON compilation definitions
compile_commands.json

# From the various build systems
*.xcworkspace
xcuserdata
*.pyc

# /
/.remotebuild_credential
/cscope.*
/TAGS
/tags

# /tools/tests/zero-to-n
/tools/tests/zero-to-n/zn*